<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/static/css/home.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <section class="hero-section">
        <div class="left">
          <h1 class="hero-title">Elevate Your Events<br />Explore EventEase</h1>
          <a href="/login"><button class="hero-action">Get Started</button></a>
        </div>
        <div class="right"></div>
      </section>
</body>
</html>